.mainProduct {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.mainProductHeading {
  color: #ebc596;
  font-family: Minion Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
}
.mainProductContent {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
}
